.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


*{
  background-color:darkslategray;
  /* border: 1px solid red; */
}

a{
  text-decoration: none;
  color:white;
  padding:1%;
  width:15%;
  text-align: center;
}
.nav{
  display:flex;
  justify-content:center;
}
nav{
  width:80%;
  display:flex;
  justify-content: flex-end;
  align-items:center;
}

h2{
  background-color:lightgray;
}

h2{
  font: size 2;
  margin-bottom:0;
}
p{
  margin-top:0;
  padding-top:0;
  color:red;
  font-style: italic;
}

input{
  width: 33%;
}

select{
  width:33%;
}

#original, #garlicranch, #bbqsauce {
  width:15%;
}

span{
  font-style: italic;
}

.name{
  display:flex;
  margin-bottom:0;
  padding-bottom:0;
}